<h1>Audit Log Dashboard</h1>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Employee</th>
			<th>Week Starting</th>
			<th>Confirmed At</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody id="audit_logs">
		<%= render @audit_logs %>
	</tbody>
</table>

<div id="paginator">
	<%= paginate @audit_logs, remote: true %>
</div>
