<% if flash[:alert] %>
	<%= js add_gritter(flash[:notice], title: "Alert", sticky: false) %>
<% elsif flash[:error] %>
	<%= js add_gritter(flash[:error], title: "Error", sticky: false) %>
<% else %>
	<%= js add_gritter(flash[:notice], title: "Notice", sticky: false) %>
<% end %>