<div class="logo>
	<h1>Overtimer</h1>
</div>
<% if current_user %>
	<ul class="custom-nav nav nav-tabs">
		<li class="<%= active?(root_path) %>"><%= link_to "", root_path, 
			class: "glyphicon glyphicon-home" %></li>
		<%= render "shared/employee_nav_items" if employee? %>
		<%= render "shared/audit_log_tab" if admin? %>
		<li class="dropdown pull-right">
			<a href="#" data-toggle="dropdown" class="dropdown-toggle">Options 
				<strong class="caret"></strong></a>
			<ul class="dropdown-menu">
				<%= render "shared/admin_dropdown" if admin? %>
				<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
			</ul>
		</li>
	</ul>
<% end %>
