<div class="container">
	<div class="pending-homepage row">
		<h2>Items pending your approval</h2>
		<hr>
		<%= render partial: "pending_approval",
			locals: {pending_approvals: @pending_approvals} %>
	</div>
	<div class="pending-homepage row">
		<h2>Confirmation Log</h2>
		<hr>
		<%= render partial: "recent_audit_items",
			locals: {recent_audit_items: @recent_audit_items} %>
		<div class="clearfix"></div>
		<hr>
		<%= link_to "View all items", audit_logs_path, class: "btn btn-primary" %>
	</div>
</div>