<div class="container">
	<div class="row">
		<% if @pending_audit_confirmations.count > 0 %>
			<div class="pending-homepage">
				<h3>Pending your confirmation</h3>
				<%= render partial: "pending_audit_confirmations",
					locals: {pending_audit_confirmations: @pending_audit_confirmations} %>
			</div>
		<% end %>
		<div class="pending-homepage">
			<h3>Request overtime</h3>
			<%= link_to "Request overtime approval",
				new_post_path,
				class: "btn btn-primary btn-block btn-lg" %>
		</div>
	</div>
</div>