<% pending_approvals.each do |approval| %>
	<div class="homepage-block col-md-3">
		<h4><%= approval.user.full_name %></h4>
		<p><span class="pending-details">Date submitted:</span> 
			<%= approval.date %></p>
		<p><span class="pending-details">Work Performed:</span> 
			<%= truncate approval.work_performed %></p>
		<div class="row">
			<div class="col-md-6">
				<%= link_to "Approve", 
					approve_post_path(approval), 
					class: "btn btn-success btn-block", 
					id: "approve_#{approval.id}" %>
			</div>
			<div class="col-md-6">
				<%= link_to "Review", 
				edit_post_path(approval), 
				class: "btn btn-warning btn-block" %>
			</div>
		</div>
	</div>
<% end %>