<% pending_audit_confirmations.each do |confirmation| %>
	<%= link_to "I confirm that I did not perform any overtime in week commencing: #{confirmation.start_date} through #{confirmation.start_date + 6.days}.",
		confirm_audit_log_path(confirmation),
		class: "btn btn-primary btn-block btn-lg btn-employee-home",
		id: "confirm_#{confirmation.id}",
		data: {confirm: "Are you sure you want to confirm that you did not perform any overtime?"}
	%>
<% end %>