<tr>
	<td><%= post.daily_hours %></td>
	<td><%= post.date %></td>
	<td class="hidden-xs"><%= link_to post.work_performed, post %></td>
	<td><%= status_label post.status %></td>
	<td><%= link_to "", 
			edit_post_path(post), 
			id: "edit_#{post.id}", class: "glyphicon glyphicon-pencil index-icons edit" if policy(post).update? %></td>
	<td><%= link_to "", 
			post_path(post), 
			method: :delete, 
			id: "delete_post_#{post.id}_from_index",
			class: "glyphicon glyphicon-trash index-icons delete",
			data: {confirm: "Are you sure?"} %></td>
</tr>