<div>
	<h2><%= @post.work_performed %></h2>
</div>
<div class="well">
	<div>
		<h3>Hours Worked: <%= @post.daily_hours %> hours</h3>
	</div>
	<div>
		<h3>Employee: <%= @post.user.full_name %></h3>
	</div>
	<div>
		<h3>Date: <%= @post.date %></h3>
	</div>
	<div>
		<h3>Current Stage of Approval: <%= @post.status %></h3>
	</div>
</div>

<%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" if policy(@post).update? %>