.pending-homepage {
	background-color: #e3e3e3;
	border-radius: 3px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
}

.pending-details {
	font-weight: 700;
}

.homepage-block {
	background-color: #1d3c91;
	color: #fff;
	margin: 12px 45px 12px 45px;
	padding: 15px;
	border-radius: 3px;
}

.homepage-block:hover {
	background-color: #172b63;
}

hr {
	border-color: #bbc3ce;
}