@import "bootstrap-sprockets";
@import "bootstrap";
@import "posts.scss";
@import "admin_homepage.scss";
@import "employee_homepage.scss";
@import "gritter";
@import "bourbon";

.custom-nav {
	margin-top: 15px;
}

.btn-employee-home {
	white-space: normal !important;
}