<!DOCTYPE html>
<html>
<head>
	<title>Overtimer</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12>
				<%= render "shared/nav" %>
				<%= yield %>
			</div>
		</div>
	</div>
	<%= render "shared/alerts" %>
</body>
</html>
